{% extends 'base.html.twig' %}

{% block title %}{{ meta_title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.title, {
            label: 'Titre'
        }) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

{% endblock %}